<template name="caste-otazky">
	<h1>Časté otázky</h1>

	<h2>Lesná škôlka znamená, že ste celý čas vonku aj keď prší?</h2>
	<p>Určite sme vonku každý deň, aj keď prší, ale rozhodne nie celý deň. Lesná škôlka znamená väčší pobyt vonku ako v štandardných škôlkach, v zime cca 2 hodiny, v lete aj 3 a viac doobeda. Súčasťou dňa je samozrejme pedagogická činnosť aj obedný odpočinok. Von chodíme za každého počasia, v tom sa skutočne líšime, riadime sa heslom: Neexistuje zlé počasie, je len zlé oblečenie. Deti sa tešia blatu, dažďu, slnku i snehu rovnako.</p>

	<h2>Čo potrebuje dieťatko do Lesnej škôlky?</h2>
	<p>Potrebuje predovšetkým dobré oblečenie, nepremokavú obuv, gumáky, vodeodolné nohavice, v zime snehule, rukavice, nákrčník, čiapku, ktorú neprefúka, váčik, v ktorom nosí v lete pitie, pršiplášť,... Pred vstupom do škôlky Vám dáme zoznam dobrých vecí.</p>

	<h2>Je škôlka vhodná pre každé dieťa?</h2>
	<p>Určite je najvhodnejšia pre deti od 3,5 roka, ale máme aj trojročné detičky a sú úplne šťastné. Hlavne rodič by mal byť uzrozumený s filozofiou lesných škôlok. Nechávame deti hrať sa v blate, pobehať si v kalužiach a pováľať sa z kopca, objavovanie cez zmysly je pre nás zdrojom radosti. Hlásia sa nám aj rodičia s mladšími deťmi, zastávame však názor, že maminka by mala byť do 3 rokov spolu s dieťatkom (ak môže).</p>

	<h2>Mám doma dieťa s ročným odkladom školskej dochádzky, je vaša škôlka preň vhodná?</h2>
	<p>Úplne, u nás nezažije stereotyp, nudu, rovnakosť. Pohyb, spontánnosť a fantázia sú najlepší základ do školy.</p>

	<h2>A čo predškolská príprava?</h2>
	<p>Predškolákom sa venuje pedagóg počas odpočinku ostatných detí.</p>

	<h2>Moje dieťatko nič neje a už vôbec nie zdravé jedlá, čo s tým?</h2>
	<p>Nič. Mali sme maminku, ktorá neverila, že jej synček zje cviklu, mrkvu. Spolu s davom, v rytme detí papá všetko. Niektorým to trvá dlhšie, časom si jedlá obľúbia všetci.</p>

	<h2>Ako prebieha adaptácia?</h2>
	<p>Adaptácia je láskavá, na začiatku chodí rodič s dieťaťom spolu s nami do škôlky, vždy po dohode s pedagógom, mali sme detičky, ktoré maminku vyhadzovali už po 2 dňoch :)</p>

	<h2>Ako sa ubrániť kliešťom, či hmyzu?</h2>
	<p>V lete používame prípravky proti kliešťom na prírodnej báze. Je dobré mať klobúčik. Kliešte vieme šikovne odstrániť, ale ak si rodič želá upovedomiť a vybrať ho sám, alebo vyhľadať lekára, je  to v poriadku.</p>

	<h2>Aký je program škôlky? V čom je iná ako klasické škôlky?</h2>
	<p>Líši sa v najmä počtom detí. 12 detí umožňuje vedieť o deťoch všetko, môcť si všimnúť ich potreby. Je iná v princípe, fungujeme ako rodina s 12- timi deťmi, sami si varíme, tvoríme, upratujeme, sme veľa vonku, už teraz môžeme povedať, že deti, ktoré bývali predtým chorľavejšie majú oveľa lepšiu imunitu.</p>

	<h2>Kto pracuje v lesnej škôlke?</h2>
	<p>V škôlke sú pri deťoch vždy 2 pedagógovia, 1 hlavný a 1 pomocník, aj na pobyte vonku, či popoludní. Niekedy sa stáva, že sme aj traja :) Len tak, pre radosť.</p>

	<h2>Prečo “nemôžu” deti nosiť svoje hračky do škôlky?</h2>
	<p>Navonok by sa zdalo, že dôvodom je, že sa o ne hádajú, nepožičiavajú si ich a rozbíjajú sa kvôli tomu vzťahy v škôlke. V skutočnosti je za tým hlbšia príčina. Deti si nosia hračky do škôlky najmä, aby na seba upozornili, pochválili sa nimi a aby ich používali ako mentálnu barličku. Následkom je rozvoj ega dieťaťa, ktoré im však rozvíjať nechceme. Chceme, aby sa naučili uplatniť v živote svojim správaním a nie majetkom. Samozrejme “mojkáčik”, ktorý čaká dieťatko v prvých dňoch na poličke je v poriadku.</p>

	<h2>Nestratí sa takýto spôsob výchovy, ktorý deťom vštepujete nástupom do “klasických” škôl? </h2>
	<p>Nie. Najsilnejšie vzťahy si deti vytvárajú v útlom veku do asi 7. rokov a vytvárajú si ich jedine k tomu, s čím trávia čas. Ak chcete, aby mali vaše deti v dospelosti vzťah k stromom, záhradke, zvieratám, radosti zo života, slobode (najmä v rozhodovaní), objavovaniu, kreativite a zvedavosti, dajte ich do lesnej škôlky. Všetky tieto “vzťahy” sa im v dospelosti vynoria aj napriek rokom stráveným v klasickej škole a budú nimi aj žiť.</p>
	<p>Čo sa týka nástupu do školy, dnes si môžete vybrať ako sa rozhodnete ďalej, máte možnosť zapísať školáka do štátnej, súkromnej školy, či  vzdelávať deti doma (to je najhlbšia cesta do vnútra seba samého) - <a href="http://www.domacaskola.sk/" target="_blank">www.DomacaSkola.sk</a>, <a href="http://www.slobodaucenia.sk/" target="_blank">www.SlobodaUcenia.sk</a></p>
	<h2>Nebude deťom chýbať mäso? Ste vegetariánska škôlka?</h2>
	<p>Nie sme vegetariánska škôlka, ale varíme zdravo, prevažne z našej “škôlkovej” záhradky. Ak im pripravíme mäso, tak len z overených zdrojov a v biokvalite. Našim deťom je prirodzené chrúmať mrkvu či jesť klíčky. V dnešnej dobe jedia ľudia toľko mäsa, že ak by aj počas dňa mäso deti nejedli vôbec, vynahradía si to poobede doma a počas víkendov či prázdnin.</p>

	<h2>Ak majú v škôlke slobodu, nevzniká anarchia?</h2>
	<p>Slobodu si mnohí zamieňajú s voľnosťou. Nenechávame deti v bezhraničnej voľnosti, práve naopak. Rytmus a poriadok je pre deti dôležitý. Pre niektorých rodičov je zarážajúce, ak sa deti hrajú v blate, či gúľajú z kopca. Jedine výchova cez zmysly podporuje tvorivosť, rast  a hlavne cit detí. Prestavte si, že sa pozeráte na more a nikdy sa ho nesmiete dotknúť, nepocítite jeho slanosť, teplotu, jemný štrk, ktorý vám obmýva nohy, ako teda viete, že more je slané?</p>

	<h2>Budú deti pripravené do školy?</h2>
	<p>Budú pripravené lepšie, budú pripravené do života a s radosťou.</p>

	<h2>Neublížia si deti, keď ich nechávate liezť po stromoch?</h2>
	<p>V prvom rade sa našim deťom snažíme preukázať dôveru a podporujeme ich v objavovaní. Deti sú síce neskúsené, ale majú silný pud sebazáchovy a sami cítia pokiaľ môžu ísť.</p> 
	<p>“Žiadne dieťa si nechce ublížiť”, potvrdila nám psychologička A. Nagyová. Učíme ich spoznať svoje hranice. Na strom vylezie naozaj len to dieťa, ktoré vie, že to dokáže.</p>

	<h2>Ak mám záujem o vašu škôlku, pomoc, čo môžem urobiť?</h2>
	<p>Zavolať, napísať, budeme sa tešiť. Veronika - 0948 349 942. <a href="/sk/kontakty">Kontakty nájdete tu.</a></p>

</template>