<template name="dakujeme">
	<h1>Ďakujeme</h1>

	<p>Ďakujeme za podporu všetkým dobrým firmám, ľuďom a organizáciám, ktorí priložili ruku k dielu.</p>

	<h2>Jednotlivci:</h2>
	<ul>
		<li>Pišta Bácsi - v podstate “postavil škôlku” vlastnými rukami, od začiatku až po koniec</li>
		<li>Feri - náš stále usmiaty záhradník, údržbár, maskot a vzor (najmä pre deti)</li>
		<li>Radovi rodičia - praktické rady aj praktická pomoc</li>
		<li>Radov brat Peti - pomoc, nápady a žiarovky :-)</li>
		<li>Roland - stolár </li>
		<li>p. Truchlík - za skúsenosti a riešenia pri stavbe</li>
		<li>Edita Szoke - za pomoc a podporu</li>
		<li>Mirka Stančeková - za varenie a podporu a papierové založenie OZ</li>
		<li>Ingrid Uhrinová za pozičanie vecí</li>
		<li>Andrea Jakubcová - za pomoc s ekoaktivitami na DOD</li>
		<li>Janka Procházková - za pomoc s hrami na DOD</li>
		<li>Olinka Blaškovičová - za láskavé srdce a pomoc s čímkoľvek</li>
		<li>Alena Mihóková - za ušitie závesov do herničky</li>
		<li>Andrea Nagyová, Mário Gajdošík - za knižky a úžasný projekt pre rodičov  - Bližšie k deťom</li>
		<li>Marek Bolf - za zľavu na kalimbu</li>
		<li>Monika Likerová  Molly za jej krásne fotografie z našich akcií</li>
		<li>Denisa Likerová za pomoc v zaváraní a varení leča</li>
		<li>Pán Gabriel z astrokabinetu v N. Zámkoch za úžasný zážitok pri  pozorovaní hviezd</li>
		<li>Angelika Vaneková - za krásne maľby a plstenie v škôlke</li>
	</ul>

	<h2>Firmy a organizácie:</h2>
	<ul>
		<li>Reštaurácia Vidlička - milej pani Czingelovej</li>
		<li>Bio svet</li>
		<li>Coratex </li>
		<li>Nadácia Slovenskej sporiteľne za finančný dar</li>
		<li>Papiernícvto Eton - Klaudia a Konštantín Kukanoví</li>
		<li>Tchibo</li>
		<li>Knižnica Kalláka v N.Zámkoch a manželom Štrbovým za dar gramofón aj rozprávkové a hudobné platne</li>
		<li>Súkromná waldorfská škola BA za cenné inšpirácie a vzdelávanie</li>		
	</ul>

	<h2>Rodičia, ktorí nám zverili svoje detičky, konkrétne:</h2>
	<ul>
		<li>Rodičia Katarína a Martin  - za myšlienku, projekt záhradky, tvorbu a čas</li>
		<li>Maminka Zuzka - za pomoc s varením, farby, hračky, podporu</li>
		<li>Maminka Hajnalka - za pomoc so šitím </li>
		<li>Maminka Lucka - za semienka pre vtáčiky</li>
		<li>Maminka Katka Sz.- že si nás našla, za nadšenie a lásku</li>
		<li>Maminka Veronika - za silu a odhodlanie, za čas venovaný škôlke</li>
		<li>Maminka Martinka S. - za podporu a vieru v nás</li>
		<li>Ocko Rado - za odvahu, priestory a záhradku, za možnosť mať škôlku</li>
		<li>Ocko a maminka Rišo a Evka - za záujem, snahu a dary do škôlky</li>
		<li>Ocko Daniel M.- za veľkú energiu, prácu, poličky, regále, zaváranie, všetky “opravy“sveta”</li>
		<li>Ocko Balázs - dni strávené s deťmi len tak pre radosť za zdravé jabĺčka</li>
	</ul>

</template>