<template name="kontakty">
	<h1>Kontakty</h1>

	<img class="image pull-right image-shadow" src="/gallery/profilovky/veronika.jpg" />
	<p><b>Kontaktná osoba:</b> Veronika Mihóková</p>
	<p><b>Telefón:</b> 0948 349 942</p>
	<p>	<b>Email:</b> <a href="mailto:lesnaskolka.novezamky@gmail.com">lesnaskolka.novezamky@gmail.com</a></p>
	<p><b>Adresa:</b> Tatranská 174, 940 01 Nové Zámky</p>
	<p><b>Facebook:</b> <a href="https://www.facebook.com/lesna.skolka.nz/" target="_blank">https://www.facebook.com/lesna.skolka.nz/</a></p>
	<div class="clear"></div>
	<div style="width: 100%; height: 400px;" id="mapCanvas"></div>

</template>

