<template name="kto-sme">
	<h1>Kto sme</h1>

	<img class="image pull-right image-shadow" src="/gallery/2016/14022119_1186706278047745_5476803137521229433_n.jpg" />
	<p>Sme v prvom rade rodičia, ktorým je výchova vlastných detí veľkým bádaním do vnútra seba samého, rodičia, ktorí sa nechali viesť ich pocitmi a vlastné deti nás priviedli k myšlienke takéhoto projektu. Škôlka má byť živým organizmom, ktorého srdce bije s rytmom detí v kolobehu ročných období.</p>
	<p>Oficiálne sa naše rodiny združili do Občianskeho združenia Kmeň o.z., ktorého súčasťou môžete byť aj vy.</p>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<img class="image pull-left image-shadow" src="/gallery/2016/14212653_1207184065999966_6856283553022652475_n.jpg" />
	<h2>O čom je naša lesná detská „škôlka“</h2>
	<p>Naša škôlka je o rešpekte, o dôvere, o radosti a hlavne o hre. Myslíme si, že hra je najdôležitejšia súčasť života detí do 7 rokov. Naším cieľom je, aby sa deti do škôlky budili s radosťou a predovšetkým zažívali reálne situácie ako súčasť života. Sadenie, upratovanie, varenie, či pečenie. </p>
	<p>Hračky používame nie hotové, ale také, ktoré ich nabádajú k tvorivosti samotnej.  (samozrejme, pár autíčok sa u nás nájde tiež).</p>
	<p>Samotná príroda nás vedie, spolu pozorujeme prechody ročných období, kratšie dni v zime, dlhšie v lete, spoločne zažívame západ i východ slnka, pestovanie v záhradke je našou súčasťou. Jedlo, ktoré si s tetou kuchárkou navaríme, spoločne poupratujeme i poumývame. Nesmieme zabudnúť na drobné činnosti, ktoré podnecujú detskú dušu. Každý deň je venovaný jednej činnosti, ktorá sa opakuje. Len pravidelný a zaužívaný rytmus dáva deťom pokoj a istotu.</p>
	<p>Naším cieľom je viesť škôlku tak, aby pripomínala jednu veľkú domácnosť s 12 – max. 14 deťmi, kde má každý priestor pre seba i svoju úlohu, nakŕmiť zvieratká, poutierať stôl, napustiť vodu, pozametať, samozrejme, podľa svojich možností.</p>
	<p>Oveľa viac ako nechať deti slobodné je viesť  ich k slobode. Cit, dobro a láska sú pre nás hodnoty, ktoré deťom budú vštepované, pri takomto malom počte detí to môžeme s dôverou zvládnuť.</p>
</template>