<template name="my-v-mediach">
	<h1>My v médiách</h1>
	<ul>
		<li>(20.1.2019) Deti.sk - Lesná škôlka – loziť po stromoch a váľať sa v blate je dovolené<br> 
		<a href="https://www.deti.sk/sme_rodicia/osobnosti/clanok/lesna-skolka-lozit-po-stromoch-a-valat-sa-v-blate-je-dovolene">https://www.deti.sk/sme_rodicia/osobnosti/clanok/lesna-skolka-lozit-po-stromoch-a-valat-sa-v-blate-je-dovolene</a><br> &nbsp; </li>
		<li>(20.1.2017) Rádio Regina, relácia Kvarteto<br> 
		<a href="https://www.rtvs.sk/radio/archiv/11324/617745">https://www.rtvs.sk/radio/archiv/11324/617745</a> (od 39:00)<br> &nbsp; </li>
		<li>(04.12.2016) RTVS, Televízne noviny<br> 
		<a href="http://www.rtvs.sk/televizia/archiv/9936/112250#2340">http://www.rtvs.sk/televizia/archiv/9936/112250#2340</a> (od 39:15)<br> &nbsp; </li>
		<li>(16.5.2016) Novozámocká TV, Projekt bližšie k deťom<br> 
		<a href="https://www.youtube.com/watch?v=8Im_LVnCTeg&feature=share">https://www.youtube.com/watch?v=8Im_LVnCTeg&feature=share</a> (od 39:15)<br> &nbsp; </li>
		<li>(10.6.2014) NašeNovéZámky.sk<br> 
		<a href="http://nasenovezamky.sme.sk/c/7231144/prvu-lesnu-detsku-skolku-chcu-otvorit-v-septembri.html">http://nasenovezamky.sme.sk/c/7231144/prvu-lesnu-detsku-skolku-chcu-otvorit-v-septembri.html</a> (od 39:15)<br> &nbsp; </li>
	</ul>
</template>



