<template name="myslienka">
	<h1>Ako vznikla myšlienka založiť lesnú detskú škôlku v Nových Zámkoch</h1>

	<img class="image pull-right image-shadow" src="/gallery/2014/IMG_5978.jpg" />
	<p>V roku 2011 sa Katke a Martinovi narodil syn Simon. Mal asi 6 mesiacov, keď sa zúčastnili prednášky Terezi Valkounovej (zakladateľka Asociácie lesných materských škôl v Čechách) o praxi Lesných materských škôl v Čechách a zahraničí. Inšpirovaní prednáškou svoje poznatky zdieľali so známymi a rodinou. Našiel sa človek, ktorého myšlienka založenia Lesnej škôlky v Nových Zámkoch nadchla a naše sny sa začali postupne plniť...</p>
	
	<p>Idea založenia Lesnej materskej škôlky si pritiahla viacero priaznivcov, čo viedlo k vzniku Občianskeho združeia Kmeň o.z. Myšlienka založenia detskej lesnej škôlky sa formovala 4 roky. Na počiatku boli rodičia, ktorí chceli viesť deti inak, v protipóle k dnešnej intelektovo - pretechnizovanej dobe. Prišli na rad rekonštrukcie, práce na záhradke, rozhovory s verejnosťou, prvé pokusy škôlkovania, prvé kúrenie v hlinenej peci. Sme rodiny, z ktorých má každá  možno iný príbeh stretnutia sa s touto myšlienkou, ale spája nás láska k deťom a myšlienka spätosti s prírodou je zároveň naším životným postojom, presvedčením. Dnes sa tešíme, že v auguste 2016 sme svoj sen uskutočnili. Ďakujeme každému, kto nám čímkoľvek pomohol.</p>

</template>