<template name="nasa-kuchyna">
	<h1>Naša kuchyňa</h1>

	<img class="image pull-right image-shadow" src="/gallery/2016/strava3_o.jpg" />
	<p>Strava v našej škôlke je pestrá, vyvážená. Stravujeme sa 4krát do dňa. Ráno deti čaká kaša, pšenová, pohánková, ryžová,... na desiatu si do batôžka nabalíme ovocie a čajík z byliniek, obed varí naša Katka, používame vlastné zdroje zeleniny a ovocia, vlastné zaváraniny, ak mäso, len z overených zdrojov a v biokvalite. Na olovrant máme nátierky v lete a v zimných mesiacoch máme ovocie aj poobede.</p>

	<p>V našej škôlke sa rozhodne nepodávajú sladené nápoje a cukríky, prosíme aj rodičov, aby deťom takéto „dobroty“ do ruksačikov nepribaľovali, platí to aj v deň narodenín. Radšej spoločne napečte koláčik, aj keď sladký, ale Váš.</p>
</template>