<template name="rytmus-tyzdna">
	<h1>Rytmus dňa a týždňa</h1>
	<img class="image pull-right image-shadow" src="/gallery/den-cvicenia/14183897_1208623049189401_6503292592316237522_n.jpg" />
	<p>Denný rytmus sa v lesných škôlkach prispôsobuje ročným obdobiam a aj činnosti dňa, pobyt na záhradke je aj pred škôlkou dovolený a počas  jarných a letných mesiacov využívame krajšie počasie na dlhší pobyt vonku.</p>
	<ul>
		<li>7.00 - 8.00 -  voľná hra</li>
		<li>8.00 - 8.40 - ranný kruh, čínnosť dňa</li>
		<li>8.40 - 9.00 - raňajky</li>
		<li>9.00 - 9.20 - upratovanie, príprava na pobyt</li>
		<li>9.40 - 12.00 - pobyt vonku</li>
		<li>10.00 - desiata</li>
		<li>12.15 - obed</li>
		<li>12.45 - príprava na spánok, rozprávanie rozprávok</li>
		<li>13.00 - 15.00 - v škôlke máme zmiešanú skupinu, preto je potreba spánku rôzna v závislosti od veku dieťaťa, predškoláci - príprava, hranie v herničke, kŕmenie zvieratiek. </li>
		<li>15.00 - olovrant </li>
		<li>14.30. - 16.00 voľná hra, pobyt na záhradke</li>
	</ul>

	<h2>Rytmus týždňa</h2>
	<p>Pri výstavbe týždňa je nám dobrým príkladom zdroj alternatívnch pedagogík, kde je každý deň zameraný na jednu činnosť. Práve podľa nich  deti spoznávajú dni v týždni, nie pondelok, ale Deň maľovania, Deň pečenia, Deň cvičenia,... </p>
	<p>Okrem voľnej hry, ktorou začíname ráno, deň vítame piesňou a ranným kruhom. Matka Zem, pani Jeseň, pani Zima (bábika), ...slúži na zdôverenie, či pochválenie sa. </p>
	<p>V našej škôlke deti pracujú s prírodnými materiálmi a jemnými materiálmi, ktoré rozvíjajú cit.  Drevo, vosk, hodnváb, vlna,...</p>

	<ul>
		<li><b>Pondelok</b> - Deň maľovania - používame kvalitné, akvarelové, vodové farby, kvádriky z včelieho vosku, pláty z včelieho vosku, hlinu, modelovaciu hmotu, vlnu, v prvom rade nám ide nie o “hotové” obrázky, ale o tvorenie a vnímanie farieb. </li>
		<li><b>Utorok</b> - Deň pesničiek - spievame, hráme na hudobné nástroje. Spievame neustále, k činnostiam deti voláme piesňami. Ľudové piesne, koledy sú samozrejmosťou. V naše škôlke nájdete muzikoterapeutické nástroje ako kalimba, pentatnonická flauta, či xylofón. </li>
		<li><b>Streda</b> - Deň tvorenia a hrania Divadielka - hrajú pani učiteľky a veru aj deti, zároveň je tento deň zameraný na rozvoj jemnej a hrubej motoriky, vyrábame hračky, tvoríme, striháme, lepíme.</li>
		<li><b>Štvrtok</b> - Deň cvičenia, ráno cvičíme s Tami jogu, ekoaktivity s Balázsom.</li>
		<li><b>Piatok</b> - Deň pečenia - pečieme niečo dobré z cesta, hráme sa (oslavný deň), v tento deň vždy prinášame niečo nové, výlet do mesta, opekanie v snehu, návšteva plavárne, …</li>	
	</ul>
	<p>Pobyt vonku je vždy za každého počasia, každý deň, zažiť dážď, či poriadnu „blatovicu“ môže byť pre deti niečo povznášajúce. Pamätáte si ako ste v detstve zažili letnú búrku? Lesné škôlky sa riadia heslom:  “Nie je zlé počasie, je len zlé oblečenie”. Deti naozaj počasie milujú, každé obdobie má svoje čaro.</p>
</template>