<template name="zapis">
	<h1>Zápis dieťatka do našej skôlky</h1>

	<h2>Prihlasovanie a zápis</h2>
	<img class="image pull-right image-shadow" src="/gallery/2016/14095854_1195141803870859_7414393321393345245_n.jpg" />
	<p>Hľadáme rodičov, rodičov detí, ktorí rozumejú dôležitosti detských hier. Rodičov, ktorí chcú pre svoje deti ponechať detstvo čo najdlhšie, tešia sa z objavených maličkostí a veľkých duševných pokrokov. Maľujeme, spievame, tvoríme a pečieme, pestujeme, varíme, veľa čítame a objavujeme, váľame sa v blate, či snehu, hlavne - žijeme.</p>
	<p>Zápis detí s nástupom <span style="font-weight: bold; color: red;">marec - august 2017</span> prosíme, hláste čo najskôr. Aktuálne máme 3 voľné miesta, ale zapĺňame sa, prijatiu dieťaťa predchádza rozhovor, príďte medzi nás.</p>
	<p>Prosíme, aby ste nás najskôr kontaktovali telefonicky 0948 349 942, alebo mailom <a href="mailto:lesnaskolka.novezamky@gmail.com">lesnaskolka.novezamky@gmail.com</a> alebo cez <a href="https://www.facebook.com/lesna.skolka.nz/">Facebook</a>. Následne Vás pozveme na priateľský rozhovor. </p>
	<p>&nbsp;</p>
	<h2>Adaptácia</h2>
	<img class="image pull-right image-shadow" src="/gallery/2016/14956612_1262072147177824_6267646978425998900_n.jpg" />
	<p> Adaptácia je láskavá, rodič prichádza s dieťatkom po dohovore s pedagógmi, podľa potrieb detí, niektoré začínajú pobytom vonku, niektoré hneď ráno. Rodič aj škôlka má možnosť rozhodnúť sa, či sa dostatočne adaptovalo.</p>


	<h2>Poplatky</h2>
	<p><b>Poplatok za škôlku – 200 € na mesiac + strava  50€</b><br>
	Uprednostňujeme deti, ktoré chcú navštevovať škôlku celý deň, ale chápeme situáciu, keď si myslíte, že dieťaťu je lepšie na pol dňa. </p>
	<p> 
	<b>Poldenný pobyt - 175 € + strava 50€</b><br>
	Pri súrodencoch umožňujeme možnosť zľavy pre druhého súrodenca.<br>
	Poplatok za škôlku sa uhrádza vždy mesiac vopred, teda do “prvého”, za stravu aj pobyt spolu.<br>
	</p>
</template>