<template name="zapis">
	<h1>Zápis dieťatka do našej skôlky</h1>

	<h2>Adaptácia</h2>
	<img class="image pull-right image-shadow" src="/gallery/2014/IMG_5978.jpg" />
	<p> Adaptácia je láskavá, rodič prichádza s dieťatkom po dohovore s pedagógmi, podľa potrieb detí, niektoré začínajú pobytom vonku, niektoré hneď ráno. Rodič aj škôlka má možnosť rozhodnúť sa, či sa dostatočne adaptovalo.</p>

	<h2>Prihlasovanie a zápis</h2>
	<img class="image pull-right image-shadow" src="/gallery/2014/IMG_5978.jpg" />
	<p> Adaptácia je láskavá, rodič prichádza s dieťatkom po dohovore s pedagógmi, podľa potrieb detí, niektoré začínajú pobytom vonku, niektoré hneď ráno. Rodič aj škôlka má možnosť rozhodnúť sa, či sa dostatočne adaptovalo.</p>

	<h2>Poplatky</h2>
	<img class="image pull-right image-shadow" src="/gallery/2014/IMG_5978.jpg" />
	<p> Adaptácia je láskavá, rodič prichádza s dieťatkom po dohovore s pedagógmi, podľa potrieb detí, niektoré začínajú pobytom vonku, niektoré hneď ráno. Rodič aj škôlka má možnosť rozhodnúť sa, či sa dostatočne adaptovalo.</p>
</template>