	body {
		-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
	
	.container #navigation, .container .menu ul.sub-menu, .container .menu ul.children {
		background-color: #504741;	}
	
	.container a, .container a:link, .container a:visited, #wrap .widget ul.menu li a {
		color: #99cc33;	}
	
	.container a:hover, .container a:focus, .container a:active,
	#wrap .widget ul.menu li a:hover, #wrap .widget ul.menu li ul.sub-menu li a:hover,
	#wrap .widget ul.menu .current_page_item a, #wrap .widget ul.menu .current-menu-item a {
		color: #669900;	}
	
	.container h1 a, .container h2 a, .container h3 a, .container h4 a, .container h5 a, .container h6 a,
	.container h1 a:link, .container h2 a:link, .container h3 a:link, .container h4 a:link, .container h5 a:link, .container h6 a:link,
	.container h1 a:visited, .container h2 a:visited, .container h3 a:visited, .container h4 a:visited, .container h5 a:visited, .container h6 a:visited {
		color: #504741;	}
	
	.container h1 a:hover, .container h2 a:hover, .container h3 a:hover, .container h4 a:hover, .container h5 a:hover, .container h6 a:hover,
	.container h1 a:focus, .container h2 a:focus, .container h3 a:focus, .container h4 a:focus, .container h5 a:focus, .container h6 a:focus,
	.container h1 a:active, .container h2 a:active, .container h3 a:active, .container h4 a:active, .container h5 a:active, .container h6 a:active,
	#slideshow .headline a:hover,#slideshow .headline a:focus, #slideshow .headline a:active {
		color: #669900;	}
	
	#submit:hover, #searchsubmit:hover, .reply a:hover, .gallery a:hover, a.button:hover, .more-link:hover,
	#comments #respond input#submit:hover, .container .gform_wrapper input.button:hover {
		background-color: #99cc33 !important;	}
	
	.container .flex-control-nav li.flex-active a, .container .flex-control-nav li a.flex-active {
		border-color: #99cc33;	}

blockquote {
	font-size: 1.1em;
	font-style: italic;
}

blockquote small {
	font-size: 0.9em;
	color: #999;
	text-align: right;
	display: block;
}

body {
	font-size: 1.0em;
}

/*  ================= Gallery  ================ */
#gallery-1 {
	margin: auto;
}
#gallery-1 .gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 50%;
}

#gallery-1.gallery-detail .gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

#gallery-1 img {
	border: 2px solid #cfcfcf;
}
#gallery-1 .gallery-caption {
	margin-left: 0;
}

#gallery-1 .gallery-icon a {
	line-height: 20px!Important;
	font-size: 13px;
	color: #666!Important;
}

#gallery-1 .gallery-icon {
	line-height: 1;
}
#gallery-1 .gallery-icon div {
	margin: 4px auto 6px auto;
	font-size: 15px;
}

