<template name="about">
	<h1>O lesných materských škôlkach</h1>

	<img class="image pull-right" src="/images/main-bg.jpg" />
	<p style="padding: 15px; font-style: italic; font-size: 16px;">Lesná materská škola je založená na myšlienke "s deťmi vonku za každého počasia bez múrov a plotov." Veríme, že pravidelný pobyt v prírode môže deťom dať plnohodnotnú prípravu do života. Deti aj pedagógovia čerpajú nekonečnú inšpiráciu z prírody, ktorá je každý deň nová. Dobrodružstvo poznávania sveta začína.<span style="margin-top: 5px; font-weight: bold; display: block;">Asociace lesních mateřských škol, www.lesnims.cz</span></p>


	<p>Myšlienka lesných škôlok vznikla v dánsku v roku 1953 odkiaľ sa rozšírila do Nemecka, Rakúska, Švajčiarska aj ďalších krajín. V Nemecku sú dokonca lesné škôlky štátom uznané a financované. Ich počet už presiahol 3000. V Českej Republike existujú desiatky takýchto škôlok a na Slovensku sa zakladajú “prvé lastovičky”.</p>

	<p>Vďaka nízkym nákladom, výborným výsledkom a vysokému záujmu rodičov sú tieto škôlky dnes veľmi obľúbené v celej Európe.</p>

	<h1>O našom lesnom klube</h1>
	<img class="image pull-right" src="/gallery/2014/IMG_5978.jpg" />
	<p>Ide o prvú “lesnú detskú škôlku” v Nových Zámkoch, v ktorej by naše deti mohli vyrastať v prírode, žiť aktívne a stravovať sa poriadne.</p>
	<h2>Ako budeme fungovať?</h2>
	<p>V našom prípade pôjde o celodennú škôlku pre deti vo veku od 3 do 6 rokov, v ktorej budeme celý čas tráviť vonku (okrem extrémneho počasia). Pravidelný pobyt v Berku a blízkom okolí budeme dopĺňať starostlivosťou o malé domáce zvieratká, zeleninovú záhradku, ovocné stromky a samotné priestory škôlky. Deti sa budú aktívne zúčastňovať každodenných činností, ako napr. príprava jedál, alebo umývanie riadu.</p>
	<h2>Priestory</h2>
	<p>Lesný klub Berek bude sídliť v Berku pri mostíku priamo na brehu rieky na 23 árovom pozemku, ktorý pre účely klubu kompletne prebudujeme. Celý pozemok je navrhnutý použitím princípov permakultúry tak, aby sme si aspoň čiastočne dokázali vyprodukovať vlastnú zeleninu, ovocie, bylinky, vajíčka a pod. Okrem hlavnej budovy tu budeme mať malý dvor na chov malých domácich zvieratiek, viaceré zeleninové záhony kombinované okrasnými zónami, ovocné stromky aj priestory pre hru aj oddych.</p>
	<h2>Strava</h2>
	<p>Deti budeme viesť k zdravej strave, ktorá bude prevažne zeleninová, dopestovaná v blízkom okolí. Časť jedla si skúsime dopestovať sami. V areáli škôlky budeme pestovať “bio” zeleninku aj ovocie, o ktoré sa bude starať náš záhradník (záhradníčka), aktívnejší rodičia a samozrejme deti. Naše sliepočky nám (dúfajme) budú znášať vajíčka. </p>

	<p>Stravu bude pripravovať náš kuchár(ka) aj v spolupráci s deťmi. </p>

	<h2>Pár zaujímavostí</h2>
	<p>Pedagógmi budú muž a žena so skúsenosťami so životom v prírode a rešpektom k deťom. Škôlka bude dvojjazyčná (slovenčina a maďarčina). Budeme organizovať aj víkendové pobyty, detské tábory, nočné výlety do prírody a pod. Raz za čas uskutočníme praktické kurzy pre deti so zaujímavými ľuďmi, budeme spoznávať naše mesto, jeho históriu a zaujímavosti.</p>

</template>