<template name="footer">
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
          <form class="form-inline signup" role="form">
			<p class="copyright">©2015 ~ 0902 318 926 (Rado) ~ <a href="mailto:info@berek.sk">info@berek.sk</a></p>
            <button type="submit" class="btn btn-theme pull-right" style="margin-left: 10px;">Prihlásiť sa</button>
            <div class="form-group pull-right">
              <input type="email" class="form-control" id="newsletterEmail" placeholder="Váš email">
              <input type="text" class="form-control" id="newsletterName" placeholder="Vaše meno">
            </div>
          </form>
			</div>
		</div>		
	</div>	
	</div>

</template>