<template name="footer">
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<p class="copyright">©2017&nbsp;&nbsp;&middot;&nbsp;&nbsp;0948 349 942 (Veronika)&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="mailto:lesnaskolka.novezamky@gmail.com">lesnaskolka.novezamky@gmail.com</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="https://www.facebook.com/lesna.skolka.nz" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></p>
			</div>
		</div>		
	</div>	
	</div>

</template>

<template name="footer-hu">
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
          <form class="form-inline signup" role="form">
			<p class="copyright">©2017&nbsp;&nbsp;&middot;&nbsp;&nbsp;0948 349 942 (Veronika)&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="mailto:lesnaskolka.novezamky@gmail.com">lesnaskolka.novezamky@gmail.com</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="https://www.facebook.com/lesna.skolka.nz" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></p>
            <button type="submit" class="btn btn-theme pull-right" style="margin-left: 10px;">Chcem novinky</button>
            <div class="form-group pull-right">
              <input type="email" class="form-control" id="newsletterEmail" placeholder="Váš email">
              <input type="text" class="form-control" id="newsletterName" placeholder="Vaše meno">
            </div>
          </form>
			</div>
		</div>		
	</div>	
	</div>

</template>