<template name="gallery">
	<h1>Fotogaléria</h1>

	<p>Zoznam našich fotogalérií.</p>
	{{#each galleries}}
	<div class="gallery-item row photos">
		<div class="col-lg-6 gallery-left">
			<a href="/fotografie/{{_id}}">
				{{#each photos}}
				<img src="{{url}}" class="image-shadow"/>
				{{/each}}
			</a>
		</div>
		<div class="col-lg-6 gallery-right">
			<a href="/fotografie/{{_id}}">{{name}}</a>
			<p>{{description}}</p>
			<div>27. február 2015, 15 fotografií</div>
		</div>
	</div>
	{{/each}}

	<div class="clear"></div>
</template>