<template name="gallery">
	{{#if isAdmin}}<button type="button" class="btn btn-theme pull-right" id="addGallery">Pridať galériu</button>{{/if}}
	<h1>Fotogaléria</h1>
	{{#each galleries}}
	<div class="gallery-item row photos">
		<div class="col-lg-3 gallery-left">
			<a href="/sk/fotografie/{{slug}}">
				{{#each photos}}
				<img src="{{this.url}}" class="image-shadow"/>
				{{/each}}
			</a>
		</div>
		<div class="col-lg-9 gallery-right">
			<a href="/sk/fotografie/{{slug}}">{{name}}</a>
			<p>{{description}}</p>
			<div>{{d date}}, {{count}} fotografií</div>
		</div>
	</div>
	{{/each}}

	<div class="clear"></div>
</template>