<template name="home">
	<h1>Lesná detská škôlka v Berku v Nových Zámkoch</h1>

	<img class="image pull-right image-shadow" src="/gallery/2016/16.jpg" />
	<p style="padding: 0 15px; font-style: italic; font-size: 16px;">Lesná detská škola je založená na myšlienke "s deťmi vonku za každého počasia bez múrov a plotov." Veríme, že pravidelný pobyt v prírode môže deťom dať plnohodnotnú prípravu do života. Deti aj pedagógovia čerpajú nekonečnú inšpiráciu z prírody, ktorá je každý deň nová. Dobrodružstvo poznávania sveta začína.<span style="margin-top: 5px; font-weight: bold; display: block;">Asociace lesních mateřských škol, www.lesnims.cz</span></p>


	<p>Myšlienka lesných škôlok vznikla v Dánsku v roku 1953 odkiaľ sa rozšírila do ďalších krajín. V Nemecku  ich počet už presiahol 3000. V ČR existujú desiatky takýchto škôlok a od minulého roku sú tiež zaradené do siete Ministerstva školstva, na Slovensku sa zakladajú “prvé lastovičky”. Napríklad len v Limbašských kopcoch pri Bratislave sú hneď tri Lesné škôlky či kluby.</p>

	<h2>O našej škôlke</h2>
	<img class="image pull-right image-shadow" src="/gallery/2016/17.jpg" />

	<p>Ide o prvú “lesnú detskú škôlku” v Nových Zámkoch, v ktorej naše deti vyrastajú v prírode, žijú aktívne a stravujú sa poriadne, je miestom, kde deti  rastú  a spoznávajú  prírodu v kolobehu roka, kde zažívajú radosti a hlavne reálne činnosti, kde spontánna hra a radosť z objavovania stoja nad vedomosťami. Len aktívny pohyb, fantázia, hra a láskavé prostredie doprajú dieťaťu ten najlepší základ pre rast a ďalší život veľkého školáka.</p>
	<p>Naša Lesná detská škôlka je určená pre deti vo veku od 3 - 7 rokov. Venujeme sa aj predškolákom, do našej škôlky je veľmi vhodné aj dieťatko, ktoré má odklad školskej dochádzky. Uvidíte, ako medzi nami poskočí.</p>
	<p>Máme celotýždennú prevádzku v čase od 7.00 - 16.00 hod.</p>

	<h2>Priestory</h2>
	<img class="image pull-right image-shadow" src="/gallery/2016/14466438_10201839669590679_1625380815_o.jpg" />
	<p>Lesná detská škôlka v Berku sídli hneď pri parkovisku, pri mostíku vpravo, priamo na brehu rieky na 23 árovom pozemku, ktorý sme úplne zrekonštruovali. Celý pozemok je navrhnutý použitím princípov permakultúry tak, aby sme si aspoň čiastočne dokázali vyprodukovať vlastnú zeleninu, ovocie, bylinky, vajíčka a pod. Okrem hlavnej budovy “škôlky” máme malý dvor na chov malých domácich zvieratiek, viaceré zeleninové záhony kombinované okrasnými zónami, ovocné stromy aj priestory pre hru aj oddych.</p>
	<p>Interiér škôlky je prispôsobený potrebám a dušiam detí. K dispozícii máme vlastnú kuchynku, v ktorej si varíme, herničku, toalety (v interiéri aj exteriéri), na poschodí krásnu spálničku. Celý interiér je  z borovicového dreva, na kúrenie nám slúži krásna hlinená pec. Farby sú volené jemne, s citom.</p>

	<p>Reálny kontakt so živou prírodou zažívajú deti z našej škôlky denne v Lesoparku Berek, ktorý patrí svojím ovzduším k najčistejšej časti mesta Nové Zámky. V lesoparku sú stromy rôzneho druhu, najrozšírenejším je javor obyčajný, pagaštan konský a dub letný. Unikátny vyše 200 ročný dub letný. Je to zákonom chránený strom. Obvod kmeňa je 460 cm a výška 30 m. V tejto lokalite je viac mimoriadne veľkých dubov. Za mostom, hneď pri vstupe do lesoparku, sa nachádza lesná zvernica, kde naše Lesníčatá môžu pozorovať a kŕmiť zvieratká.</p>

	<h2>Aktuality - Zápis</h2>
	<img class="image pull-right image-shadow" src="/gallery/2016/DSC_8981.jpg" />
	<p>Hľadáme rodičov, rodičov detí, ktorí rozumejú dôležitosti detských hier. Rodičov, ktorí chcú pre svoje deti ponechať detstvo čo najdlhšie, tešia sa z objavených maličkostí a veľkých duševných pokrokov. Maľujeme, spievame, tvoríme a pečieme, pestujeme, varíme, veľa čítame a objavujeme, váľame sa v blate, či snehu, hlavne - žijeme.</p>
	<p>Zápis detí s nástupom <span style="font-weight: bold; color: red;">marec - august 2017</span> prosíme, hláste čo najskôr. Aktuálne máme 3 voľné miesta, ale zapĺňame sa, prijatiu dieťaťa predchádza rozhovor, príďte medzi nás. Pozri kontakt.</p>

	<h2>Kontakt</h2>
	<img class="image pull-right image-shadow" src="/gallery/2016/11.jpg" />
	<p>
	Lesná detská škôlka Nové Zámky<br>
	Tatranská 174<br>
	Nové Zámky 94001<br>
	Číslo telefónu: Veronika Mihóková (Paulusová) 0948 349 942<br>
	Facebook: <a href="https://www.facebook.com/lesna.skolka.nz/" target="_blank">https://www.facebook.com/lesna.skolka.nz/</a><br>
	Email: <a href="mailto:lesnaskolka.novezamky@gmail.com">lesnaskolka.novezamky@gmail.com</a>
	</p>


	<h2>V tomto roku nám môžete zaslať 2%</h2>
	<p>Vaše dary s  dôverou použijeme  pre naše Lesníčatká, ďakujeme.</p>

	<p>
	Kmeň o.z.<br>
	<b>Adresa:</b> Tatranská 174, 940 01 Nové Zámky<br>
	<b>IČO:</b> 45791473<br>
	<b>Právna forma:</b> Občianske združenie<br>
	<b>IBAN číslo účtu:</b> SK3511110000001378844007 / kód banky: 1111 (UniCredit Bank Czech Republic and Slovakia, a.s.)<br>
	</p>
</template>

<template name="home-hu">

</template>