<template name="odporucame-hu">
	<h1>O nás - Odporúčame</h1>

	<img class="image pull-right image-shadow" src="/gallery/2014/IMG_5978.jpg" />
	<p style="padding: 15px; font-style: italic; font-size: 16px;">Lesná detská škola je založená na myšlienke "s deťmi vonku za každého počasia bez múrov a plotov." Veríme, že pravidelný pobyt v prírode môže deťom dať plnohodnotnú prípravu do života. Deti aj pedagógovia čerpajú nekonečnú inšpiráciu z prírody, ktorá je každý deň nová. Dobrodružstvo poznávania sveta začína.<span style="margin-top: 5px; font-weight: bold; display: block;">Asociace lesních mateřských škol, www.lesnims.cz</span></p>
</template>